@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins',Arial, Helvetica, sans-serif ;
  background-color: #fff;
}

/* global css */
img {
  width: 100%;
  height: auto;
  overflow: hidden;
  -o-object-fit: contain;
  object-fit: contain;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.btn {
  display: inline-block;
  border-radius: 8px;
  padding: 0.5rem 1.5rem;
  margin-top: 0.5rem;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  /* customize */
  background-color: #1c2042;
  color: white;
  border: 2px solid #1c2042;
}

header{
  background-color: #b1bfcc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}
img{
  width: 80px;
  cursor: pointer;
}
.menu-bar{
  font-size: 22px;
  color: white;
  margin-left: 250px;
  cursor: pointer;
}
.menu-bar:hover{
  color: #000;
}
nav ul li a{
  color: #fff;
  display: none;
}
#head{
  margin-top: -25px;
  background-color: #b1bfcc;
  padding: 20px 40px;
}
.head-main img{
  width: 560px;
  margin-left: -200px;
}
h1{
  color: #fff;
  font-size: 2.5rem;
  font-weight: 400;
}
hr{
  width: 90%;
  border: 1px solid #fff;
  margin-bottom: 30px;
}
.head-desc{
  margin-right: 50px;
  margin-bottom: 30px;
}
.head-desc p{
  text-align: right;
  color: #fff;
  line-height: 2;
  font-size: 1rem;
  font-weight: 500;
}
#understanding-brain{
  background-color: #C9A3A4;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
#understanding-brain img{
  width: 275px;
  margin-top: -110px;
  margin-left: 330px;
  rotate: 75deg;
}
.title{
  margin-top: -350px;
  margin-left: 20px;
}
#understanding-brain h1{
  font-size: 2.3rem;
  font-weight: 400;
}
#understanding-brain hr{
  width: 90%;
  border: 1px solid #fff;
  margin-left: 20px;
}
.para-1{
  color: #fff;
  margin-left: 20px;
  margin-top: -70px;
}
.para-1 p{
  line-height: 7;
  font-weight: 500;
  cursor: pointer;
}
#interfacing-brain{
  background-color: #A7CEEF;
  width: 100vw;
  height: 45vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;

}
#interfacing-brain img{
  width: 275px;
  margin-top: 15px;
  margin-left: 250px;
}
#interfacing-brain h1{
  font-size: 2.2rem;
  font-weight: 400;
  margin-top: -205px;
  padding: 0px 20px;
}
#interfacing-brain hr{
  width: 90%;
  border: 1px solid #fff;
  margin-left: 20px;
  margin-top: -125px;
}
.para-2{
  color: #fff;
  margin-left: 20px;
  margin-top: -70px;
}
.para-2 p{
  line-height: 7;
  font-weight: 500;
  cursor: pointer;
}
#engineering-brain{
  background-color: #BBBFBF;
  width: 100vw;
  height: 45vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
#engineering-brain img{
  width: 275px;
  margin-left: 225px;
  opacity: 70%;
}
#engineering-brain h1{
  font-size: 2.2rem;
  font-weight: 400;
  margin-top: -225px;
  padding: 0px 20px;
}
#engineering-brain hr{
  width: 90%;
  border: 1px solid #fff;
  margin-left: 20px;
  margin-top: -125px;
}
.para-3{
  color: #fff;
  margin-left: 20px;
  margin-top: -100px;
}
.para-3 p{
  line-height: 7;
  font-weight: 500;
  cursor: pointer;
}
#footer{
  background: linear-gradient(#c69e70, #a27b4e);
  margin-top: -5px;
  padding: 20px 40px;
  overflow: hidden;
}
#footer img{
  width: 1600px;
  height: 100vh;
  margin-left: -780px;
  margin-bottom: -100px;
  rotate: 0deg;
  z-index: 0;
  position: relative;
}
#footer p{
  color: #fff;
}
#footer p .reach{
  color: #fff;
}
.reach{
  position: absolute;
  margin-top: -30px;
  z-index: 1;
  cursor: pointer;
}
footer{
  background-color: #fff;
  width: 100%;
  height: 400px;
  padding: 40px;
}
#footer-left{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  margin-bottom: 100px;
}
#footer-left img{
  width: 70px;
  margin-left: -10px;
}
#footer-left a{
  color: #858686;
  line-height: 1.5;
  font-weight: 500;
  font-size: 14px;

}
#footer-right .footer-menu{
  display: none;
}
#footer-right .email{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.email a{
  color: #858686;
  font-weight: 500;
  font-size: 14px;
}





@media screen and (min-width: 576px) {
}

/* Medium devices (tablets) */

@media (min-width: 768px) {
}

/* Large devices (desktops) */

@media (min-width: 768px) {
  .menu-bar{
    display: none;
  }
  nav ul li a{
    color: #fff;
    display: block;
    text-align: right;
    margin-right: 20px;
    line-height: 1.5;
  }
  header{
    padding: 50px 30px;
  }
  img{
    width: 100px;
    margin-top: -100px;
  }
  #head{
    overflow: hidden;
  }
  .head-main img{
    width: 1250px;
    margin-top: -300px;
    margin-left: -150px;
  }
  h1{
    font-size: 4rem;
    margin-left: 20px;
    font-weight: 500;
  }
  hr{
    width: 40%;
  }
  .head-desc p{
    margin-right: 550px;
  }
  .head-desc p{
    text-align: right;
    font-size: 1.2rem;
    font-weight: 600;
  }
  main{
    display: flex;
    overflow: hidden;
  }
  #understanding-brain{
    width: 100%;
    height: 50vh;
    position: relative;
  }
  #understanding-brain img{
    width: 225px;
    margin-top: 0px;
    margin-left: 50px;
    position: absolute;
    top: 175px;
    rotate: 0deg;
  }
  .title{
    margin-top:  0px;
    margin-left: -5px;
  }
  #understanding-brain h1{
    font-size: 2.7rem;
    font-weight: 500;
  }
  #understanding-brain hr{
    width: 85%;
    border: 1px solid #fff;
    margin-left: 20px;
  }
  .fig{
    margin-left: 250px;
  }
  .para-1 p{
    margin-bottom: 275px;
  }
  .para-1 span{
    margin-left: 10px;
  }
  #interfacing-brain{
    width: 100%;
    height: 50vh;
    position: relative;
  }
  #interfacing-brain img{
    width: 350px;
    margin-left: -10px;
    position: absolute;
    top: 200px;
    
  }
  .title-1{
    margin-top: 225px;
    margin-left: -5px;
  }
  #interfacing-brain h1{
    font-size: 2.7rem;
    font-weight: 500;
  }
  #interfacing-brain hr{
    width: 85%;
    margin-top: -40px;
    border: 1px solid #fff;
    margin-left: 20px;
  }
  .fig{
    margin-left: 250px;
  }
  .para-2 p{
    margin-bottom: 250px;
  }
  .para-2 span{
    margin-left: 10px;
  }
  #engineering-brain{
    width: 100%;
    height: 50vh;
    position: relative;
  }
  #engineering-brain img{
    width: 350px;
    margin-left: -10px;
    position: absolute;
    top: 275px;
  }
  .title-2{
    margin-top: 225px;
    margin-left: -5px;
  }
  #engineering-brain h1{
    font-size: 2.7rem;
    font-weight: 500;
  }
  #engineering-brain hr{
    width: 85%;
    margin-top: -50px;
    border: 1px solid #fff;
    margin-left: 20px;
  }
  #engineering-brain .fig{
    margin-left: 250px;
    margin-top: 30px;
  }
  #engineering-brain .para-3 p{
    margin-bottom: 265px;
  }
  .para-3 span{
    margin-left: 10px;
  }
  #footer{
    background: linear-gradient(#c69e70, #a27b4e);
    overflow: hidden;
    width: 100%;
    height: 800px;
    display: flex;
  }
  #footer img{
    width: 4000px;
    height: 100vh;
    margin-left: -580px;
    margin-right: -50px;
    margin-bottom: 00px;
    z-index: 0;
    position: relative;
  }
  .desc{
    z-index: 2;
  }
  .desc h1{
    font-size: 3rem;
    font-weight: 300;
  }
  .desc hr{
    width: 80%;
    margin-left: 20px;
  }
  .desc p{
    font-size: 1.3rem;
    margin-left: 20px;
  }
  #footer p{
    color: #fff;
  }
  .reach{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
  }
  .reach{
    position: absolute;
    margin-top: 700px;
    margin-left: 20px;
  }
  footer{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
  }
  #footer-left{
    display: flex;
    flex-direction: row;
  }
  #footer-left img{
    width: 100px;
    margin-top: 0px;
    padding: 0px;
  }
  #footer-left a{
    font-size: 1.2rem;
  }
  #footer-right {
    display: flex;
    margin-right: 50px;
  }
  #footer-right .footer-menu{
    display: block;
  }
  .footer-menu nav ul li a{
    color: #858686;
    text-align: left;
    font-weight: 500;
  }

  .email a{
    font-size: 1rem;
  }

}

/* Extra large devices (large desktops) */

@media (min-width: 1200px) {
}
